@import 'shared';


body {
  margin: 0px;
  padding: 0px;
  line-height: 1;
  font-family: Arial;
  font-size: $baseFont;
}

.wrapper {
  width: 90%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

header {
  width: calc(100% - 2px);
  line-height: 2.5em;
  text-align: center;
  flex: 1 100%;
  border: $border--red;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
h1 {
  font-size: 10vw;
  font-weight: 400;
  color: blue;
  @include breakpoint(desktop) {
    font-size: 6em;
    color: $blue;
  }
}

.letters {
  width: 20%;
@include breakpoint(desktop) {
    width: 10%;
    flex: 1;
    padding: 0px;
    margin: 0px;
  }
}

    .letter {
      width: 100%;
      font-size: 1em;
      line-height: 2em;
      border-bottom: $border--black;
      border-left: $border--black;
      text-align: center;
    }

    .letter:hover {
      font-size: 2em;
      font-weight: 900;
    }

.mainSection {
  width: 80%;
  box-sizing: border-box;
  order: 2;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  border-right: $border--red;
  border-bottom: $border--red;
  border-left: $border--red;
  @include breakpoint(desktop) {
    width: 90%;
  }
}

.letterHead {
  flex: 1 100%;
  width: 100%;
  min-height: auto;
  display: table;
  border-bottom: $border--black;
  text-align: center;
  font-size: 3em;
  line-height: 2.05em;
  font: 200;
}

.singleWord {
  width: 100%;
  min-height: 1em;
  flex: 1 100%;
  width: 100%;
  order: 2;
  display: table-row;
  display: flex;
  flex-flow: row wrap;
  line-height: 2.5em;
  border-bottom: $border--black;
}


.originalWord {
  border-bottom: $border--lightGrey;
  width: 100%;
  padding: 0 0 0 15px;
  box-sizing: border-box;
  @include breakpoint(desktop) {
    width: 25%;
    border: none;
    padding: 0 0 0 15px;
    font-size: 1.5em;
  }
}

.translation {
  width: 100%;
  padding: 0 0 0 15px;
  box-sizing: border-box;
  font-style: italic;
  color: $midGray;
  @include breakpoint(desktop) {
    width: 75%;
    font-size: 1em;
    border-left: 1px solid $midGray;
  }
}
